*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: auto;
}

.instagram-phones{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.instagram-phones img {
    height: auto;   
}

.continue-loged {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.logo .insta-logo {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 10rem; 
}

.profile-photo .img-profile-photo {
    width: 30%;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;

}

.group:nth-child(1) {
    min-height: 32rem;
    margin-bottom: 1rem;
}


.group:nth-child(2) {
    min-height: 5rem;
}

.instagram-continue {
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    margin-top: 1rem;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('../img/apple-store.png');
}

.app-download:nth-child(2) {
    background-image: url('../img/google-store.png');
}

.img-transition {
    animation-name: slide-app;
    animation-duration: 15s;
    width: 100%;
    height: 31.1rem;
    animation-iteration-count: infinite;
    position: relative;
    right: 10rem;
    top: 0.3rem;
}

@keyframes slide-app {
    0%{
        background-image: url('../img/photo1.jpg');
    }
    25%{
        background-image: url('../img/photo2.jpg');
    }
    50%{
        background-image: url('../img/photo3.jpg');
    }
    75%{
        background-image: url('../img/photo4.jpg');
    }
    100%{
        background-image: url('../img/photo5.jpg');
    }
}

@media (max-width: 1920px) {
    .instagram-wrapper{
        width: 80%;
    }
}

@media (max-width: 650px) {
    .instagram-wrapper{
        width: 80%;
    }

    .instagram-phones{
        display: none;
    }

    .continue-loged{
        width: 100%;
    }
}



